<div class="card">
    <div class="header">
        <div class="title-icon">
            <mat-icon>settings</mat-icon>
        </div>
        <div class="title">{{"reqestModule.createRequest.serviceFees"|translate}}</div>
    </div>
    <div class="body">
        <ul>
            <li> {{"reqestModule.createRequest.serviceFees1"|translate}} </li>
            <li> {{"reqestModule.createRequest.serviceFees2"|translate}} </li>
            <li> {{"reqestModule.createRequest.serviceFees3"|translate}} </li>
            <li> {{"reqestModule.createRequest.serviceFees4"|translate}} </li>

        </ul>
    </div>
</div>
