<div class="survey">
  <div class="helpful">
    <span>{{'reqestModule.createRequest.doYouFindContentHelpful'|translate}}</span>
    <div>
      <button class="yes-btn">{{'shared.actions.yes'|translate}}</button>
      <button class="no-btn">{{'shared.actions.no'|translate}}</button>
    </div>
  </div>
  <div class="share">
    <button>
      <span>{{'reqestModule.createRequest.share'|translate}}</span>
      <mat-icon>share</mat-icon>
    </button>
    <button>
      <span>{{'reqestModule.createRequest.print'|translate}}</span>
      <mat-icon>print</mat-icon>
    </button>
  </div>
</div>
