.attachment-section{
    margin:60px 0px 100px;
    .attachment-title{
        h3{
            color: #1D4861;
            font-size: 18px;
            font-weight: 700;
            margin:8px 0px;

        }
        p{
            color:#979797;
            font-size: 12px;
            font-weight: 300;

        }
    }
}