<div class="request-final-details">
   
    <div class="container">
      <div class="content">
        <div>
          <div class="col-md-12 g-0">
            <div class="content-side">
              <div class="request-status my-2">
                <div class="status-cards my-3">
                  <div class="cards row align-items-center" *ngIf="itemDetails">
                    <!-- col-lg-3 col-md-6 col-sm-12 -->
                    <div *ngFor="let card of model.requestStatus; let i = index" class="col-lg-3 col-md-6 col-sm-3 my-3">
                      <request-status-card [requestStatus]="itemDetails?.status" [item]="card"
                        [isLast]="i + 1 == model.requestStatus.length">
                      </request-status-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="request-details my-4">
              <!-- <app-lead-details [item]="itemDetails"></app-lead-details> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>