<div class="aside">
  <div class="aside-wrapper">
    <div class="fees">
      <div class="card">
        <div class="header">
          <div class="title-icon">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="title">{{"shared.filterData.serviceType"|translate}}</div>
        </div>
        <div class="body">
          <p>{{"reqestModule.createRequest.subServiceTransactional"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="channels">
      <div class="card">
        <div class="header">
          <div class="title-icon">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="title">{{"reqestModule.createRequest.targetedCustomers"|translate}}</div>
        </div>
        <div class="body">
          <ul>
            <li>{{"reqestModule.createRequest.mainland"|translate}}</li>
            <li>{{"reqestModule.createRequest.freeZoneLicensed"|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="call-btn">
      <div class="icon">
        <i class="fa-solid fa-phone fa-2x"></i>
      </div>
      <div class="txt">
        <p>{{"reqestModule.createRequest.havingTrouble"|translate}}</p>
        <h6>{{"reqestModule.createRequest.call"|translate}}: 800 242 6237</h6>
      </div>
    </div>
  </div>
</div>
