$spanFontSize: 14px;
$headingFontSize: 17px;


.transaction-widget {
    border: 1px solid #DDDCEA;
    padding: 10px 20px;
    margin: 20px 0px;

    .transaction-type {
        .icon {
            img {
                width: 22.6px;
            }
        }

        .transaction-title {
            span {
                font-size: $spanFontSize;
                color: #979797;
            }

            h4 {
                font-size: $headingFontSize;
                color: #003764;
                margin: 7px 0px;
                font-weight: 600;
            }
        }

    }

    .transaction-amount {
        color: #979797;

        span {
            font-size: $spanFontSize;
        }

        h4 {
           
            font-size: 18px;
            color: #2F3334;
            margin: 7px 0px;
            font-weight: 400;
        }
    }

    .transaction-date {
        span {
            font-size: $spanFontSize;
            color: #979797;
        }

        h4 {
            font-size: 18px;
            color: #2F3334;
            margin: 7px 0px;
            font-weight: 400;
        }

    }
}

