<div class="interactions">
  <div class="header col-12">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="title">
          <h4>{{'opportunitiesModule.opportunitiesInfo.interactionsList' | translate}}</h4>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div
        class="Edit-btn col-md-12 col-sm-12"
       
      >
            <div class="normal-information right">
              <button
                [routerLink]="['/services', 'leads', 'createInteraction', id]"
                class="btn"
                
              >
                <span>{{'leadsModule.interactions.newInteraction' | translate}}</span>
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!model.loading">
    <app-lead-widget
      [status]="2"
      *ngFor="
        let item of model.interactionsData
          | paginate: { itemsPerPage: 5, currentPage: p }
      "
      [itemInteraction]="item"
      [showIndetails]="false"
    ></app-lead-widget>

    <no-data [item]="'shared.generalWord.interaction' |translate"
    *ngIf="model.interactionsData && model.interactionsData.length == 0"
  ></no-data>
  <div
  class="Edit-btn col-md-12 col-sm-12"
  *ngIf="LeadStatus == '2' && !this.model.hasOpenStatus && model.interactionsData && model.interactionsData.length == 0"
>
      <div class="normal-information">
        <button
          [routerLink]="['/services', 'leads', 'createInteraction', id]"
          class="btn"
        >
        {{'leadsModule.interactions.newInteraction' | translate}}
        </button>
      </div>
  </div>

    <div class="col-12" *ngIf="model.interactionsData.length != 0">
      <div
        class="pagination-section d-flex justify-content-center align-items-center"
      >
        <app-paginator (pageChange)="changePage($event)"></app-paginator>
      </div>
    </div>
  </ng-container>

  <!-- skelton loader -->
  <div class="row mt-3" *ngIf="model.loading">
    <div class="col-12" *ngFor="let x of [1, 2, 3, 4, 5]">
      <card-loader [height]="60"></card-loader>
    </div>
  </div>
</div>
