<ng-container *ngIf="!model.loading">
    <div>
    <div class="header">
      <div  class="title">{{'memberShipsModule.memberShiprequestDetails.message' |translate}}</div>
      <button
      *ngIf="model.messages"
        class="new-btn"
        [routerLink]="['/services', 'memberships', 'new-message',model.requestId ? model.requestId: '']"
      >
        {{ "leadsModule.messages.newMessage" | translate }}
      </button>
    </div>
      
    </div>
  
    <div
      class="messages mb-5 mt-3"
      *ngIf="model.messages && model.messages?.length != 0"
    >
      <div class="message" *ngFor="let message of model.messages">
        <div class="title">
          <h4 class="text">{{ message.title }}</h4>
          <span>{{ message.createDate | customDate: "dd-MM-yyyy h:mm a" }}</span>

        </div>
        <div class="description" [innerHTML]="message.description"></div>
        <p class="created-by">
          {{ "leadsModule.messages.createdBy" | translate }}:
          <span *ngIf="message.createdBy">{{ message.createdBy }}</span>
        </p>
      </div>
    </div>
  
    <no-data
      [item]="'shared.generalWord.message' | translate"
      *ngIf="!model.messages"
      >
    ></no-data>
    <div class="mb-4" *ngIf="!model.messages">
      <button
        class="new-btn center"
        [routerLink]="['/services', 'memberships', 'new-message',model.requestId ? model.requestId: '']"
      >
        {{ "leadsModule.messages.newMessage" | translate }}
      </button>
    </div>
  </ng-container>
  
  <!-- skelton loader -->
  <div class="row mt-3" *ngIf="model.loading">
    <div class="col-12" *ngFor="let x of [1, 2, 3, 4, 5]">
      <card-loader [height]="60"></card-loader>
    </div>
  </div>
  