<div class="information-section general-information-section">
    <div class="row">
        <!--  title And Edit Button -->
        <div class="header col-12">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>{{'profileModule.generalInfo.personalInformation' |translate}}</h4>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="edit-btn">
                        <div class="Edit-btn my-2 d-flex flex-column justify-content-end align-items-end">
                            <div class="normal-information">
                                <button [routerLink]="['/profile','general','edit']" class="btn" *ngIf="getViewAndEditState()">{{'profileModule.generalInfo.editPersonalInfo' |translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <!-- General-information-feilds -->
        <div class="General-information-content">
            <div class="row my-5">
                <div class="col-md-6 col-sm-12">
                    <div class="image-container w-100 h-100">
                        <img  *ngIf="personalData?.photo == null" class="h-100 " src="../../../../assets/images/default_img.png" />
                        <img *ngIf="personalData?.photo != null" class="h-100 " [src]="'data:image/png;base64,'+personalData?.photo" />
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="items-container ">
                        <div class="item  margin-top-sm">
                            <div class="title  ">{{'shared.generalFeilds.title'| translate}}  </div>
                            <div class="data my-4 ">{{getLookup(titles,personalData?.title)}}</div>
                        </div>
                        <div class="item spaces">
                            <div class="title mb-4">{{'shared.generalFeilds.firstName'| translate}} </div>
                            <div class="data my-4 ">{{personalData?.firstName}}</div>
                        </div>
                        <div class="item spaces">
                            <div class="title mb-4">{{'shared.generalFeilds.lastName'| translate}}</div>
                            <div class="data mt-4 ">{{personalData?.lastName}}</div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="items-container ">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="item">
                            <div class="title mb-4">{{'shared.generalFeilds.email'| translate}}</div>
                            <div class="data my-4 ">{{personalData?.email}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="item">
                            <div class="title mb-4">{{'shared.generalFeilds.nationality'| translate}} </div>
                            <div class="data my-4 ">{{getLookup(nationalities,personalData?.nationalityId)}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="item">
                            <div class="title mb-4">{{'shared.generalFeilds.emiratesID'| translate}} </div>
                            <div *ngIf="personalData?.emiratesID"class="data my-4 ">{{personalData?.emiratesID}}</div>
                            <p *ngIf="!personalData?.emiratesID" class="Dummy-data">{{'shared.generalWord.noValue'| translate}} </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="item">
                            <div class="title mb-4">{{'shared.generalFeilds.passportNumber'| translate}}</div>
                            <div *ngIf="personalData?.passportNumber" class="data my-4 ">{{personalData?.passportNumber}}</div>
                            <p *ngIf="!personalData?.passportNumber" class="Dummy-data">{{'shared.generalWord.noValue'| translate}}</p>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="item">
                            <div class="title mb-4"> {{'shared.generalFeilds.unifiedID'| translate}}</div>
                            <div *ngIf="personalData?.unifiedId" class="data my-4 ">{{personalData?.unifiedId}}</div>
                            <p *ngIf="!personalData?.unifiedId" class="Dummy-data">{{'shared.generalWord.noValue'| translate}}</p>

                        </div>
                    </div>



                </div>

            </div>
        </div>

</div>
