
.wallet-recharge{
    @media (max-width:991.9px) {
        width:100% !important;
    }
    @media (min-width:992px) {
        width:50% !important;
        margin: 10px auto;
       
        
    }
    .header{
        .title{
            h4{
                color:#1D4861;
                font-size: 28px;
                font-weight: 700;
                margin:30px 0px;
            }
        }
    }
    .required{
        color: #F87171;
    }
    
    .input{
        label{
            font-size:16px !important;
        }
    }
    
    
    .refund-action{
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:567px) {
            justify-content:center;
        }
        button{
            @media (min-width:1070px) {
                width:250px !important;
            }
            @media (max-width:1069px) {
                width:220px !important;
            }
            @media (max-width:567px) {
                margin:20px 0px;
            }
           
           
        }
        .ouline-button{
            button{
                background-color: #fff !important;
            }
        }
    }
}