//mixins
@import "../../../../assets/styles/helpers/mixins";
.create-password {
  .password-feilds {
    .password-title {
      h4 {
        color: #1d4861;
        font-size: 20px;
        font-weight: 600;
      }

      p {
        color: #928e8e;
        font-size: 18px;
      }
    }
  }
  .validation {
    @media (min-width: 767px) {
      justify-content: flex-end;
    }
  }
  .info {
    margin-top: 125px;
    @media (max-width: 767px) {
      margin-top: 40px;
    }
    p {
      color: #928e8e;
      font-size: 18px;
      @include rtl_value("margin-left", 60px, unset);
      @include rtl_value("margin-right", unset, 60px);
    }
    ul {
      li {
        span {
          color: #003764;
          font-size: 13px;
        }
      }
    }
  }
  .password-submit-btn {
    .normal-register {
      button {
        background-color: $secondaryColor;
        width: 228.25px;
        border: 1px solid $secondaryColor;
        color: #fff;
        border-radius: 0px;
        padding: 0.6rem 0.75rem;
      }
    }
  }
}
.input-with-eye {
  position: relative;

  input {
    padding-inline-end: 40px !important;
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    &.ar{
      left:10px;
      right: auto;
    }

    svg {
      color: #003764;
    }
  }
}
