<div class="create-password">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6 col-sm-12">
        <!-- password-feilds -->
        <div class="password-feilds">
          <div class="password-title my-5">
            <h4>{{'registration.createPassword.createPassword' | translate}}</h4>
            <p>{{'registration.createPassword.message' | translate}}</p>

          </div>
          <div class="feilds">
            <form [formGroup]="model.PasswordForm">
              <div class="row">
                <div class="col-12">
                  <!-- password -->
                  <div class="input  my-3">
                    <div class="input-content">
                      <label class="form-label" for="">{{'registration.createPassword.password' | translate}}</label>
                      <div class="input-with-eye">
                        <input   (keyup)="model.checkValidation($event.target)" [type]="model.passwordVisibility ? 'text' : 'password'" formControlName="password" />
                        <button [ngClass]="{'ar':langSer.getLangFromLocalStorage() =='ar'}" *ngIf="!model.passwordVisibility" (click)="model.togglePasswordVisibilty()"><i
                            class="fa-regular fa-eye"></i></button>
                        <button [ngClass]="{'ar':langSer.getLangFromLocalStorage() =='ar'}" *ngIf="model.passwordVisibility" (click)="model.togglePasswordVisibilty()"><i
                            class="fa-regular fa-eye-slash"></i></button>
                      </div>
                    </div>
                    <div *ngIf="model.submitted && model.f['password'].errors">
                      <span class="form-error" *ngIf="model.f['password'].errors['required']">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{'registration.createPassword.requiredPassword' | translate}}
                      </span>

                      <span class="form-error" *ngIf="model.f['password'].errors['pattern']">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{'registration.createPassword.invalidPassword' | translate}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 ">
                  <!-- Confirm Password -->
                  <div class="input">
                    <div class="input-content">
                      <label class="form-label" for="">{{'registration.createPassword.confirmPassword' | translate}}</label>
                      <div class="input-with-eye">
                        <input [type]="model.passwordConfirmationVisibility ? 'text' : 'password'"
                          formControlName="confirmPassword" />
                        <button [ngClass]="{'ar':langSer.getLangFromLocalStorage() =='ar'}" *ngIf="!model.passwordConfirmationVisibility"
                          (click)="model.toggleConfirmationPasswordVisibilty()"><i
                            class="fa-regular fa-eye"></i></button>
                        <button [ngClass]="{'ar':langSer.getLangFromLocalStorage() =='ar'}" *ngIf="model.passwordConfirmationVisibility"
                          (click)="model.toggleConfirmationPasswordVisibilty()"><i
                            class="fa-regular fa-eye-slash"></i></button>
                      </div>
                    </div>
                    <div *ngIf="model.submitted && model.f['confirmPassword'].errors">
                      <span class="form-error" *ngIf="model.f['confirmPassword'].errors['required']">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{'registration.createPassword.requiredConfirmPassword' | translate}}

                      </span>
                      <span class="form-error" *ngIf="model.f['confirmPassword'].errors['pattern']">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{'registration.createPassword.invalidPassword' | translate}}

                      </span>
                    </div>

                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>



      </div>
      <div class="validation col-md-6 col-sm-12 d-flex align-items-center ">
        <!-- password-info -->
        <div class="info ">
          <p>{{'registration.createPassword.passwordMust' | translate}}</p>
          <ul type="none">
            <li class="my-2">
              <span *ngIf="model.validConditionLength" class="mx-2"><img
                  src="../../../../assets/images/listCheck.svg" /></span>
              <span *ngIf="!model.validConditionLength" class="mx-2"><img
                  src="../../../../assets/images/grey-right-icon.svg" /></span>
              <span>{{'registration.createPassword.passwordValidationRule.characterNumber' | translate}}
              </span>
            </li>
            <li class="my-2">
              <span *ngIf="model.validConditionOneNumber" class="mx-2"><img
                  src="../../../../assets/images/listCheck.svg" /></span>
              <span *ngIf="!model.validConditionOneNumber" class="mx-2"><img
                  src="../../../../assets/images/grey-right-icon.svg" /></span>
              <span>{{'registration.createPassword.passwordValidationRule.digitNumber' | translate}}</span>
            </li>
            <li class="my-2">
              <span *ngIf="model.validConditionOneCapitalLetter" class="mx-2"><img
                  src="../../../../assets/images/listCheck.svg" /></span>
              <span *ngIf="!model.validConditionOneCapitalLetter" class="mx-2"><img
                  src="../../../../assets/images/grey-right-icon.svg" /></span>
              <span>{{'registration.createPassword.passwordValidationRule.letterNumber' | translate}}</span>
            </li>
            <li class="my-2">
              <span *ngIf="model.validConditionSpecialCharcter" class="mx-2"><img
                  src="../../../../assets/images/listCheck.svg" /></span>
              <span *ngIf="!model.validConditionSpecialCharcter" class="mx-2"><img
                  src="../../../../assets/images/grey-right-icon.svg" /></span>
              <span> {{specialCharacter}} </span>
            </li>
            <li class="my-2">
              <span *ngIf="model.validConditionWhiteSpace" class="mx-2"><img
                  src="../../../../assets/images/listCheck.svg" /></span>
              <span *ngIf="!model.validConditionWhiteSpace" class="mx-2"><img
                  src="../../../../assets/images/grey-right-icon.svg" /></span>
              <span>{{'registration.createPassword.passwordValidationRule.noSpace' | translate}} </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <!-- submit-btn -->
        <div class="password-submit-btn my-5 d-flex flex-column justify-content-end align-items-end">
          <div class="normal-register">
            <button (click)="model.createNewPassword()" class="btn">{{'shared.actions.confirm' |translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>