<div class="aside">
  <div class="aside-wrapper">
    <div class="fees">
      <info-card></info-card>
    </div>
    <div class="channels">
      <div class="card">
        <div class="header">
          <div class="title-icon">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="title">{{"reqestModule.createRequest.paymentChannel"|translate}}</div>
        </div>
        <div class="body">
          <ul>
            <li>{{"reqestModule.createRequest.ePayment"|translate}}</li>
            <li>{{"reqestModule.createRequest.eDirham"|translate}}</li>
            <li>{{"reqestModule.createRequest.bankTransfer"|translate}}</li>
            <li>{{"reqestModule.createRequest.chequeDeposite"|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="video">
      <video src="assets/videos/SampleVideo_1280x720_1mb.mp4" controls></video>
      <p>{{"reqestModule.createRequest.WatchVideo"|translate}}</p>
    </div>
    <div class="call-btn">
      <div class="icon">
        <i class="fa-solid fa-phone fa-2x"></i>
      </div>
      <div class="txt">
        <p>{{"reqestModule.createRequest.havingTrouble"|translate}}</p>
        <h6>{{"reqestModule.createRequest.call"|translate}}: 800 242 6237</h6>
      </div>
    </div>
  </div>
</div>
