<!-- <payment-widget></payment-widget> -->

<div class="payment-details">
     <!-- banner -->
     <div class="banner mb-4">
        <banner [bannerData]="model.banner" [bannerMode]="3" [EditFlag]="true" [paddingFlag]="true">
        </banner>

         <!-- page content -->
      <div class="container">
        <!-- <p class="page-title">{{banner.title}}</p> -->
        <div class="main-container row">
          <div class="left-side col-md-3 col-sm-12">
           <payment-list-filter (Filter)="model.filterData($event)"></payment-list-filter>
          </div>
  
          <div class="right-side px-0 col-md-9 col-sm-12">
           
             <ng-container *ngIf="!model.loading" >
              <div class="allRequests my-4">
                <payment-widget *ngFor="
                        let item of model.displayedData
                          | paginate: { itemsPerPage: 5, currentPage: model.p }
                      " [item]="item"></payment-widget>
  
                <no-data [item]="'bannerData.bannerNavigationLinks.payment' |translate"
                  *ngIf="model.displayedData && model.displayedData.length == 0"></no-data>
               
                </div>
              <div class="col-12" *ngIf="model.displayedData.length != 0">
                <div class="pagination-section d-flex justify-content-center align-items-center">
                  <app-paginator (pageChange)="model.changePage($event)"></app-paginator>
                </div>
              </div>
            </ng-container> 
  
            <!-- skelton loader -->
            <div class="row" *ngIf="model.loading">
              <div class="col-12" *ngFor="let x of [1, 2, 3, 4]">
                <card-loader [height]="70"></card-loader>
              </div>
            </div>
          </div>
        </div>
      </div>

       
</div>