<div class="main-layout" [ngClass]="{dic: platformSer.getPlatform()=='dic'}" >
  <header></header>
  <router-outlet></router-outlet>
  <footer></footer>
</div>

<!-- <div class="banner" style="margin: 250px 0">
  <banner [bannerData]="banner" [bannerMode]="1"></banner>
</div>
<div class="banner" style="margin: 250px 0">
  <banner [bannerData]="banner" [bannerMode]="2"></banner>
</div>
<div class="banner" style="margin: 250px 0">
  <banner [bannerData]="banner" [bannerMode]="3">
    <banner-service-details [serviceDetails]="serDerails">
    </banner-service-details>
  </banner>
</div>
<div class="banner" style="margin: 250px 0">
  <banner [bannerData]="banner2" [bannerMode]="4"></banner>
</div> -->
