

<div class="event-register-card">
   <div class="btns">
    <div class="register">
        <button (click)="navigateToEventRegistration()"class="btn btn-reg" >{{'eventsModule.registerEvent' | translate}}</button>
      </div>
      <div class="or-word"> <span>{{'shared.generalWord.or' | translate}}</span></div>
      <div class="hint"> <span>{{'shared.actions.alreadyHaveAccountLogin' | translate}}</span></div>
      <div class="login">
        <button (click)="navigateToLogin()" class="btn btn-login">{{'shared.actions.login' | translate}}</button>
      </div>
   </div>
</div>