//colors
@import "../../../../../assets/styles/helpers/variables";
//line comp
@import "../../../../../assets/styles/components/line";
//mixins
@import "../../../../../assets/styles/helpers/mixins";
.side-filter {
  &-wrapper {
    .options {
      .option-label {
        span {
          font-size: 18px !important;
        }
      }
      h4 {
        font-size: 18px;
        color: $secondaryColor;
        font-weight: bold;
      }

      label {
        font-size: 14px;
        color: #2f3334;
        font-weight: 600;
      }

      margin: 40px 0;

      .option-label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: #003764;
      }

      .checkbox-group {
        .checkbox-option {
          display: flex;
          gap: 20px;
          margin: 10px 0;
          align-items: center;

          label {
            position: relative;
            cursor: pointer;
            display: inline-block;
          }

          label:before {
            content: "";
            border: 1px solid #d9d9d9;
            padding: 10px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            @include rtl_value("margin-right", 20px, unset);
            @include rtl_value("margin-left", unset, 20px);
          }

          input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
          }

          input:checked + label:after {
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            @include rtl_value(left, 9px, unset);
            @include rtl_value(right, unset, 9px);
            width: 6px;
            height: 14px;
            border: solid $secondaryColor;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

// .vertical-line {
//   margin: 40px auto 0px;
//   width: 1px;
//   // height: 80%;
//   height: 104%;
//   background-color: #DDDCEA;
// }

@media screen and(max-width:992px) {
  .vertical-line {
    display: none;
  }
}

// input[type="checkbox"]:checked + span {
//   border-color: red;
//   background-color:red;
// }
