// @import "../../../../assets/styles/components/_form.scss";
//mixins
@import "../../../../assets/styles/helpers/mixins";
.email-section{
    margin-top:4rem !important;
    .content{
        @media (max-width:767px){
            width:80% !important;
        }
    }
}

.repot-section{
    display:flex;
    border-radius: 0px;
    padding: 0.85rem 0.75rem !important;
    border: 1px solid #DDDCEA;
    background-color: #FBFBFB;


    input{
        width:20px;


    }
    label{
        margin-bottom: 0;
        @include rtl_value("margin-left", 15px, unset);
@include rtl_value("margin-right", unset, 15px);

        @media (max-width:300px){
           font-size:16px ;
        }
    }
}
.email-submit-btn {
    .normal-register {
        button {
            background-color: $secondaryColor;
            width: 228.25px;
            border: 1px solid $secondaryColor;
            color: #fff;
            border-radius: 0px;
            padding: 0.6rem 0.75rem;

         }
    }
}
.feildAr{
    direction: ltr;
}
