<div class="banner">
    <banner [bannerData]="model.forgetPasswordBannerData" [bannerMode]="1"> </banner>
</div>


<div class="email-section  " *ngIf="!model.verificationFlag">
    <div class="container">
        <div class="content w-50  m-auto my-3">
            <!-- Email -->
            <form [formGroup]="model.forgotPasswordForm">

                <div class="input my-3 mb-30px">
                    <div class="input-content">
                        <label class="form-label" for="">{{'Login.userName' |translate}}</label>
                        <input type="text"  formControlName="userName" [ngClass]="{'feildAr':langSer.getLangFromLocalStorage() =='ar'}"/>
                    </div>
                    <div *ngIf="model.submitted && model.f['userName'].errors">
                        <span class="form-error mb-2" *ngIf="model.f['userName'].errors['required']">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            {{'Login.requiredUserName' |translate}}
                        </span>
                        <span class="form-error" *ngIf="model.f['userName'].errors['isMatched'] && model.f['userName'].value">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            {{'Login.invalidUserName' |translate}}
                        </span>
                    </div>
                </div>

                <!-- I am Not report -->
                <re-captcha (resolved)="model.resolved($event)" siteKey="6LdGtjMiAAAAADYhp25B9ZWFK-03FR-gKjWZIFZ1"></re-captcha>




                <div class="email-submit-btn my-5 d-flex flex-column justify-content-center align-items-center ">
                    <div class="normal-register">
                        <button class="btn" (click)="model.confirmMail()">  {{'shared.actions.confirm' |translate}}</button>
                    </div>
                </div>



            </form>
        </div>

    </div>
</div>


<!-- send-mail-verification -->

<div class="mail-verification" *ngIf="model.verificationFlag">
    <result-card [item]="model.item"></result-card>
    <a [href]="model.fakeLink">userLink</a>

</div>