<div class="product-widget my-4">
    <div class="widget-container d-flex">
        <div class="widget-item">
            <div class="item">
                <div class="header">
                    <h4>{{'cooModule.detailsData.hSCode'|translate}}</h4>
                </div>
                <div class="data product-number">
                    <p>{{item.hsCode}}</p>
                </div>
            </div>

        </div>
        <div class="widget-item">
            <div class="item">
                <div class="header">
                    <h4>{{'shared.generalFeilds.name'|translate}} ({{'cooModule.detailsData.english'|translate}})</h4>
                </div>
                <div class="data">
                    <p>{{item.productEnglishName}}</p>
                </div>
            </div>

        </div>
        <div class="widget-item">
            <div class="item">
                <div class="header">
                    <h4>{{'shared.generalFeilds.name'|translate}} ({{'cooModule.detailsData.arabic'|translate}})</h4>
                </div>
                <div class="data ">
                    <p>{{item.productArbicName}}</p>
                </div>
            </div>

        </div>
        <div class="widget-item">
            <div class="item">
                <div class="header">
                    <h4>{{'cooModule.detailsData.originCountry'|translate}}</h4>
                </div>
                <div class="data ">
                    <p>{{item.countryOfOrigin}}</p>
                </div>
            </div>

        </div>
        
        <div class="widget-item custom-width">
            <div class="item">
                <div class="header">
                    <h4>{{'cooModule.detailsData.processType'|translate}}</h4>
                </div>
                <div class="data">
                    <p>{{item.processType}}</p>
                </div>
            </div>

        </div>
        <div class="widget-item custom-width">
            <div class="item">
                <div class="header">
                    <h4>{{'cooModule.detailsData.unitPrice'|translate}}</h4>
                </div>
                <div class="data ">
                    <p>{{item.pricePerUnit}}</p>
                </div>
            </div>

        </div>
        <div class="widget-item custom-width-numbers">
            <div class="item">
                <div class="header">
                    <h4>{{'cooModule.detailsData.quantity'|translate}}</h4>
                </div>
                <div class="data ">
                    <p>{{item.quantity}}</p>
                </div>
            </div>

        </div>
        <div class="widget-item custom-width-numbers">
            <div class="item">
                <div class="header">
                    <h4>{{'cooModule.detailsData.totalprice'|translate}}</h4>
                </div>
                <div class="data ">
                    <p>{{item.totalPrice}}</p>
                </div>
            </div>

        </div>
    </div>

</div>