
.exporter-info{
    .form-label{
        color:#2F3334;
        font-size:16px;
        font-weight:400;
        margin:10px 0px;
    }

    .exporter-details{
       .title{
        h4{
            font-size: 18px;
            font-weight:700;
            color:#1D4861;
            margin:30px 0px 20px 0px;
        }
       } 
    }
}