@import '../../../../../assets/styles/helpers/mixins';
@import "../../../../../assets/styles/components/_profile_information.scss";

.general-comlaint {
  &-wrapper {
    .title{
      color: #1d4861;
      font-weight: 700;
      font-size: 18px;
      margin-top: 1em;
    }
    .save-buttons {
      .send {
        button {
          background-color: $secondaryColor;
          width: 228.25px;
          border: 1px solid $secondaryColor;
          color: #fff;
          border-radius: 0px;
          padding: 0.6rem 0.75rem;
        }
      }
    }
  }
}
// custom deep styling
::ng-deep .iti {
  display: flex;
  align-items: center;
  border: 1px solid #DDDCEA;

  @media (max-width: 380px) {
    flex-wrap: wrap;
  }

  ::ng-deep .iti__flag-container {
    position: relative;
    border-right: 1px solid #dddcea;
    margin-left: 1em;
  }

  ::ng-deep .iti__selected-flag {
    width: 85px !important;
    height: 50%;
    @include rtl_key("padding-","left","right", 0);


    .selected-dial-code {
      font-size: 12px !important;
    }
  }

  ::ng-deep .dropdown-menu.show {
    width: 302px;

    @media (max-width: 478px) {
      width: 250px !important;
    }

    @media (max-width: 400px) {
      width: 150px !important;
    }

    ul {
      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(161 161 161 / 0%);
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #4f63727a;
        border-radius: 10px;
      }
    }

    @media (max-width: 420) {
      width: 200px !important;
    }

    .iti__country-list {
      width: 100%;
      overflow-x: hidden;
    }
  }
}

::ng-deep .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: transparent;
}

::ng-deep .iti input[type=tel]{
  border: unset !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
}

.optional-lable{
  color:#928E8E !important;
}

.radio-group-container{
  display: flex;
  gap: 5em;
  margin-top: 25px;
  input{
    width: 16px;
  }
  label{
    margin: unset;
  }
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.datePickerParent {
  position: relative;
  input {
    cursor: pointer;
    @include rtl_value(text-align,left,right)
  }
  .pickerIcon {
    position: absolute;
    top: 48px;
    @include rtl_value(right,15px,unset);
    @include rtl_value(left,unset,15px);
    background: #fff;
    cursor: pointer;
  }
  span.placeholder {
    position: absolute;
    width: 80%;
    display: inline-block;
    left: 11px;
    top: 45px;
    background: #fff;
    cursor: pointer;
  }
}


input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.partners-table{
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;

  .table-item{
    font-weight: 400 !important;
    color: #979797 !important;
  }

  .partner-icon{
    width: 2em;
    height: 2em;
    color: $secondaryColor;
    margin: 1em;
  }

  .partner-name{
    margin: auto 0 auto 0;
  }

  .delete-icon{
    font-size: 1.5em;
    color: $secondaryColor;
    cursor: pointer;
  }
}