//mixins
@import "../../../../assets/styles/helpers/mixins";
.request-datails {
  & > div {
    margin: 30px auto;
  }

  h3 {
    font-size: 18px;
    color: $secondaryColor;
    font-weight: 600;
    @include rtl_value("border-left", 2px solid $secondaryColor, unset);
    @include rtl_value("border-right", unset, 2px solid $secondaryColor);
    @include rtl_value("padding-left", 10px, unset);
    @include rtl_value("padding-right", unset, 10px);
  }

  p {
    color: #2f3334;
    font-size: 18px;
    font-weight: 400;
  }

  .codes > div {
    padding: 0px;
    p {
      //background-color: #fbfbfb;
      padding: 10px;
      @include rtl_value("margin-left", 10px, unset);
      @include rtl_value("margin-right", unset, 10px);
    }
  }
}

p {
  padding: 10px;
}

.background-gray {
  background-color: #fbfbfb;
}
.Dummy-data{
  color: #94a3b8 !important;
  font-size: 16px;
  font-weight: 400;
}
