@import "../../../../assets/styles/helpers/variables";
.password-submit-btn{
    .normal-register {
        button {
            background-color: $secondaryColor;
            width: 228.25px;
            border: 1px solid $secondaryColor;
            color: #fff;
            border-radius: 0px;
            padding: 0.6rem 0.75rem;

         }
    }
}

.input-with-eye {
    position: relative;
  
    input {
      padding-inline-end: 40px !important;
    }
  
    button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
  
      svg {
        color: #003764;
      }
    }
  }