<div class="banner">
    <banner [bannerData]="model.resetPasswordBannerData" [bannerMode]="1"> </banner>
</div>

  <!-- password-feilds -->
  <create-password *ngIf="!model.verificationFlag" (OnSubmit)="model.showVerification($event)" [resetPasswordFlag]="true"></create-password>

  
  <!-- reset-password-verification -->

<div class="mail-verification"  *ngIf="model.verificationFlag">
  <result-card  (Click)="model.goToEnterNewPassword()" [item]="model.resetPassworditem"></result-card>
</div>


  